

<div> 
  <table class="table">
    <thead>
     <td><form><div class="field">
      <div class="control">
        <input class="input is-success" type="text" #textValue  placeholder="Enter Text">
      </div>
    </div></form>
  </td>
  <td>
    <a class="button is-primary" (click)=calculate(textValue.value)>Go</a>
  </td>
    </thead>
    <tbody>
      <tr>
        <td>Number of Words</td>
        <td>{{wordCount}}</td>
      </tr>
     
      <tr>
 
        <td>Number of Vowels</td>
        <td>{{vowelCount}}</td>
    </tr>

    <tr>
 
      <td>Number of Articles</td>
      <td>{{articleCount}}</td>
  </tr>
  <tr>
 
    <td>Length of the longest Words</td>
    <td>{{longLen}}</td>
</tr>
<tr>
 
  <td>Length of the shortest word</td>
  <td>{{shortLen}}</td>
</tr>

    </tbody>
  </table>
</div>
